.game-container {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid darkgray;
  box-shadow: 5px 5px 8px #8f664a85;
  background-color: gray;
  max-width: 720px;
  margin: 1rem;
  gap: 15px;
  justify-content: center;
}

.tetris-grid {
  display: grid;
  grid-template-columns: repeat(10, 32px);
  grid-template-rows: repeat(20, 32px);
  padding: 0;
  margin: 0;
  gap: 0;
  border: none;
}
